[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	hard = reset --hard
  soft = reset --soft
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[difftool]
	prompt = false
[mergetool]
	prompt = false
[user]
	name = Dmytro Burmistrov
	email = dmytro.burmistrov@preply.com
	signingkey = /Users/dmytro.burmistrov/.ssh/id_ed25519
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = false
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
